<div class="quick-options-bar">
 <ul><!-- Añadidas Imagenes Clickeables -->
   <li><img (click)="onOpcionClick('vista-clientes')" class="img-icon" src="./assets/clientes-50.png" /> </li>
   <li><img (click)="onOpcionClick('Areas_productos')" class="img-icon" src="./assets/warehouse-100.png" /></li>
   <li><img (click)="onOpcionClick('vista_productos')" class="img-icon" src="./assets/caja-150.png" /></li>
   <li><img (click)="onOpcionClick('vista_area_trabajador')" class="img-icon" src="./assets/trabajo-permanente-100.png" /></li> <!-- opcion nueva -->

 </ul>
</div>
