<div class="quick-options-bar">
 <ul><!-- Agregadas Imgagenes y estilos a la barra de opciones -->

   <li>
    <img (click)="onOpcionClick('vista-clientes')" src="./assets/clientes-100.png"/>
    <a (click)="onOpcionClick('vista-clientes')">Clientes</a>
   </li>
   <li>
    <img (click)="onOpcionClick('vista-area_productos')" src="./assets/warehouse-100.png"/>
    <a (click)="onOpcionClick('vista-area_productos')">Area de Productos</a>
   </li>
   <li>
    <img (click)="onOpcionClick('vista_productos')" src="./assets/caja-150.png"/>
    <a (click)="onOpcionClick('vista_productos')">Productos</a>
   </li>
   <li>
    <img (click)="onOpcionClick('vista_area_trabajador')" src="./assets/trabajo-permanente-100.png"/>
    <a (click)="onOpcionClick('vista_area_trabajador')">Area de Trabajadores</a></li>
   <li>
    <img (click)="onOpcionClick('vista-compra')" src="./assets/bolsa-de-papel-100.png"/>
    <a (click)="onOpcionClick('vista-compra')">Compras</a>
   </li>
   <li>
    <img (click)="onOpcionClick('vista_sucursal')" src="./assets/tienda-100.png"/>
    <a (click)="onOpcionClick('vista_sucursal')" >Sucursales</a>
   </li>
   <li>
    <img (click)="onOpcionClick('vista_venta')" src="./assets/ventas-100.png"/>
    <a (click)="onOpcionClick('vista_venta')" >Ventas</a>
   </li>
   <li>
    <img (click)="onOpcionClick('vista_proveedor')" src="./assets/proveedor-100.png"/>
    <a (click)="onOpcionClick('vista_proveedor')">Proveedores</a>
   </li>
   <li>
    <img (click)="onOpcionClick('vista_trabajador')" src="./assets/empleado-100.png"/>
    <a (click)="onOpcionClick('vista_trabajador')">Trabajadores</a>
   </li>

   <li *ngFor="let opcion of opcionesMenu">
     <a *ngIf = "opcion.tiene_permiso"
        (click)="onOpcionClick(opcion.vista)">
       {{opcion.nombre_vista}}
     </a>
   </li>



 </ul>
</div>

//

