
label {
  display: block;
  padding-bottom: 5px;
  font-weight: bold;
  color: #666;
  font-family: "Roboto", sans-serif;
  text-align: left; /* Alinea el texto a la izquierda */
  width: 100%; /* Asegura que el label ocupe todo el ancho disponible */
}

input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0,123,255,.25);
}
input:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
}


.input-container {
  position: relative;


}


input {
  font-family: "Roboto", sans-serif;

  width: 100%;
  padding: 10px;
  padding-left: 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}
.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
  z-index: 999;
}
