<app-alert-reusable
  [isVisible]="DialogVisible"
  title="Eliminar Proveedor"
  message="¿Deseas eliminar a {{NombreProvedorSeleccionado}}?"
  confirmText="Aceptar"
  cancelText="Cancelar"
  [showCancel]="true"
  (confirm)="onConfirm()"
  (cancel)="onCancel()">
</app-alert-reusable>

<app-notificacion_reusable
  *ngIf="notification"
  [type]="notification.type"
  [message]="notification.message"
  [icon]="notification.type === 'success' ? 'check_circle' : 'error'">
</app-notificacion_reusable>

<app-header-reusable [titulo]="Titulo"></app-header-reusable>
<div class = "contenedor-productos">
  <app-tabla-reusbale
    [data]="proveedor"
    [tituloBoton]="titulo_boton_nuevo_registro"
    [columns]="columnas"
    [showActions]="true"
    (onDeleteClick)="handleDeleteClick($event)"> <!-- envia el metodo a la tabla, que se lo pasara al boton-->
  </app-tabla-reusbale> <!--llamo al componente reusable-->
</div>



