<div class="login-container">
  <div class="login-box">
    <img class="logo" src="./assets/sawa_logo.png" />
    <p class="subtitle">Administrador</p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <app-input
        formControlName="correo"
        label="Correo electrónico"
        type="email"
        placeholder="Ingrese su email"
        [icon]="'@'"
      ></app-input>
      <app-input
        formControlName="password"
        label="Contraseña"
        type="password"
        placeholder="Ingrese su contraseña"
        [icon]="'🔒'"
      ></app-input>
      <app-button
        [label]="'Iniciar sesión'"
        [disabled]="false"
        [type]="'primary'"
      ></app-button>
    </form>
  </div>
</div>
