.login-container {/*background*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #87CEEB, #DDA0DD);
}
.login-box { /*contenedor blanco del form*/
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}
.logo {
  font-size: 36px;
  color: #333;
  margin-bottom: 0;
}
.subtitle {
  color: #666;
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
