.login-container {/*background*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #87CEEB, #DDA0DD);
}
.login-box { /*contenedor blanco del form*/
  background: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}
.logo {


  width: 50%;
  margin-bottom: 0;
}
.subtitle {

  color: #666;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-style: italic; /* Esto aplica el estilo itálico */
}
form {

  display: flex;
  flex-direction: column;
  gap: 20px;
}
