<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <app-input
    label="Correo electrónico"
    id="email"
    type="email"
    placeholder="Ingrese su correo electrónico"
    formControlName="email"
  ></app-input>
  <app-input
    label="Contraseña"
    id="password"
    type="password"
    placeholder="Ingrese su contraseña"
    formControlName="password"
  ></app-input>
  <app-button
    [label]="'Iniciar sesión'"
    [disabled]="false"
    [type]="'primary'"
  ></app-button>
</form>
