.login-container {/*background*/
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Cambiado de height a min-height */
  margin: 0; /* Asegura que no haya m치rgenes */
  padding: 0; /* Asegura que no haya padding */
  overflow: hidden; /* Evita el scroll */
  background: linear-gradient(135deg, #87CEEB, #DDA0DD);
}
.login-box { /*contenedor blanco del form*/
  background: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;

  max-width: 400px; /* Limita el ancho m치ximo para pantallas grandes */
  margin: 20px; /* Agrega un peque침o margen para evitar que toque los bordes */
}
.logo {


  width: 50%;
  margin-bottom: 0;
}
.subtitle {

  color: #666;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-style: italic; /* Esto aplica el estilo it치lico */
}
form {

  display: flex;
  flex-direction: column;
  gap: 20px;
}


