<div class="login-container">
  <div class="login-box">
    <h1 class="logo">SAWA</h1>
    <p class="subtitle">Administrador</p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <app-input
        formControlName="email"
        label="Correo electrónico"
        type="email"
        placeholder="Ingrese su correo electrónico"
        [icon]="'@'"
      ></app-input>
      <app-input
        formControlName="password"
        label="Contraseña"
        type="password"
        placeholder="Ingrese su contraseña"
        [icon]="'🔒'"
      ></app-input>
      <app-button
        [label]="'Iniciar sesión'"
        [disabled]="!loginForm.valid"
        [type]="'primary'"
      ></app-button>
    </form>
  </div>
</div>
